div {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: plum;
    transition: transform 0.5s linear;
}
div:hover {
    transform: translateX(200px);
    transition: transform 1s linear;
}