:root {
    --border: #b22222;
    --color: #ff6448;
    --fondo: #ffe4e1;
    --black: #444444;
    --switches: #ffc4ad;
  }
  
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }
  
.fondo {
    width: 100%;
    height: 100vh;
    background-color: var(--fondo);
    display: flex;
}
  
.teclado {
    width: 400px;
    height: 150px;
    background-color: var(--color);
}