.card {
    width: 200px;
    height: 200px;
    position: relative;
}

.back, .face {
    position: absolute;
    width: 200px;
    height: 200px;
    border-radius: 5%;
    backface-visibility: hidden;
}

.face {
    background-color: papayawhip;
}

.back {
    background-color: pink;
    opacity: 0;
}

@media (prefers-reduced-motion:no-preference) {
    .card {
        transform-style: preserve-3d;
        transition: transform 0.5s;
    }
    .card:hover {
        transform: rotateY(180deg);
    }
    .card:hover .back { 
        opacity: 1;
    }
    .back {
        transform: rotateY(180deg);
    }
}