<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Layout</title>
    <link rel="stylesheet" href="./style.css">
</head>
<body>
    <header class="header">
        <h1>Logo</h1>
        <nav>
            <ul class="nav">
                <li>Home</li>
                <li>Cursos</li>
                <li>Instructores</li>
                <li>Blog</li>
            </ul>
        </nav>
    </header>
    <main>
        <article class="article">
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ea illo velit, facilis quia ratione beatae, in quam ullam, minus harum sint sunt recusandae rem repudiandae nesciunt voluptatibus deserunt aliquid neque.</p>
        </article>
        <aside class="aside">
            <div class="cuadrado"></div>
            <div class="cuadrado"></div>
            <div class="cuadrado"></div>
        </aside>
    </main>
    <footer class="foot">
        <p class="rs">Redes Sociales</p>
        <p class="ac">Acerca de</p>
    </footer>
</body>
</html>